.vlist-table {
    width: 100%;
    border-collapse: collapse;
}

.vlist-table thead tr th {
    height: 30px;
    border: 1px solid #000;
    background-color: rgb(201, 201, 201);
}

.vlist-table td {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}