<div class="container">
    <div class="content">
        <h1>聯絡我們</h1>
        <div class="contact-form">
            <form action="" method="post">
                <div class="form-group">
                    <label for="">姓名 *</label><br>
                    <input type="text" class="form-control" name="user-name" required>
                </div>
                <div class="form-group">
                    <label for="">電子郵件 *</label><br>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label for="">出發日期 *</label><br>
                    <input type="date" class="form-control" name="depature-date" required>
                </div>
                <div class="form-group">
                    <label for="">出發地點 *</label><br>
                    <input type="text" class="form-control" name="departure-place" required>
                </div>
                <div class="form-group">
                    <label for="">目的地 *</label><br>
                    <input type="text" class="form-control" name="destination" required>
                </div>
                <div class="form-group">
                    <label for="">意見或問題</label><br>
                    <textarea name="comment" id="comment1" cols="40" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="">問答 *</label><br>
                    <span>5 × 9 = </span>
                    <input type="text" name="quiz" class="form-control" size="40" required="true">
                </div>
                <div class="form-group">
                    <input type="submit" value="提交" id="c-submit">
                </div>
            </form>
        </div>
    </div>
</div>