<!-- banner -->
<div class="banner">
    <img class="banner-img" src="../assets/images/banner.jpg" alt="">
</div>

<!-- section -->
<section class="intro-section">
    <div class="wrapper">
        <div class="grid">
            <div>
                <img src="../assets/images/crossborder.png" alt="">
            </div>
            <h2>跨境服務</h2>
        </div>
        <div class="grid">
            <div>
                <img src="../assets/images/airport.jpg" alt="">
            </div>
            <h2>機場接送</h2>
        </div>
        <div class="grid">
            <div>
                <img src="../assets/images/mainland.png" alt="">
            </div>
            <h2>內地旅遊</h2>
        </div>
    </div>
</section>

<!-- about us -->
<article class="about-container">
    <div class="about-content">
        <div class="aboutus">
            <h1>關於我們</h1>
            <div>
                <p>
                    本公司提供專業租車服務,經驗豐富，自設車隊備有豪華客車，並安排專業司機給予效勞，時租或日租，商務，短線觀光均可。
                </p>
                <p>
                    預約熱線: xxxxxxxx
                </p>
            </div>
        </div>
    </div>
</article>