<div class="container">
    <div class="content">
        <h1>租車</h1>
        <div class="booking-intro">
            <h3>旅遊租車公司</h3>
            <!-- car list -->
            <div class="car-list">
                <div class="car-listpict">
                    <img src="../../assets/images/hkrental.png" alt="">
                </div>
                <div class="car-listintro">
                    <div class="car-listintroinner">
                        <span class="car-name"><a href="">本地租車</a></span>
                        <p class="car-description">
                            此商品需議價。<br>
                            本公司收到您的填單資料後，客服人員會與您聯繫並報價！<br>
                            This product needs to be negotiated.<br>
                            After we receives the order information, the customer service staff will contact you and
                            quote.
                        </p>
                    </div>
                    <div class="car-list-last">
                        <span class="startingfrom">暫定價格 (Provisional Price)</span><br>
                        <p class="starting-price">$ 10,000.00</p>
                        <div class="viewdetail">
                            <a class="viewdetail-btn" href="">查看詳情 (View Detail) >></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="car-list">
                <div class="car-listpict">
                    <img src="../../assets/images/24bustoyata.jpg" alt="">
                </div>
                <div class="car-listintro">
                    <div class="car-listintroinner">
                        <span class="car-name"><a href="">白色24巴士豐田</a></span>
                        <p class="car-description">
                            此商品需議價。<br>
                            本公司收到您的填單資料後，客服人員會與您聯繫並報價！<br>
                            This product needs to be negotiated.<br>
                            After we receives the order information, the customer service staff will contact you and
                            quote.
                        </p>
                    </div>
                    <div class="car-list-last">
                        <span class="startingfrom">暫定價格</span><br>
                        <p class="starting-price">$ 10,000.00</p>
                        <div class="viewdetail">
                            <a class="viewdetail-btn" href="">查看詳情 (View Detail) >></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="car-list">
                <div class="car-listpict">
                    <img src="../../assets/images/hkchinacross.png" alt="">
                </div>
                <div class="car-listintro">
                    <div class="car-listintroinner">
                        <span class="car-name"><a href="">中港過境</a></span>
                        <p class="car-description">
                            此商品需議價。<br>
                            本公司收到您的填單資料後，客服人員會與您聯繫並報價！<br>
                            This product needs to be negotiated.<br>
                            After we receives the order information, the customer service staff will contact you and
                            quote.
                        </p>
                    </div>
                    <div class="car-list-last">
                        <span class="startingfrom">暫定價格 (Provisional Price)</span><br>
                        <p class="starting-price">$ 10,000.00</p>
                        <div class="viewdetail">
                            <a class="viewdetail-btn" href="">查看詳情 (View Detail) >></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="car-list">
                <div class="car-listpict">
                    <img src="../../assets/images/mainlandrental.jpg" alt="">
                </div>
                <div class="car-listintro">
                    <div class="car-listintroinner">
                        <span class="car-name"><a href="">內地專用</a></span>
                        <p class="car-description">
                            此商品需議價。<br>
                            本公司收到您的填單資料後，客服人員會與您聯繫並報價！<br>
                            This product needs to be negotiated.<br>
                            After we receives the order information, the customer service staff will contact you and
                            quote.
                        </p>
                    </div>
                    <div class="car-list-last">
                        <span class="startingfrom">暫定價格 (Provisional Price)</span><br>
                        <p class="starting-price">$ 10,000.00</p>
                        <div class="viewdetail">
                            <a class="viewdetail-btn" href="">查看詳情 (View Detail) >></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>